.menu-full-overlay {
  min-height: 100vh;
}

body {
  font-family: 'Jost', sans-serif;
}

h1, h2, h3 {
  font-family: 'Jost', sans-serif;
}

p {
  font-size: 24px;
}

.bold-text {
  font-family: 'WF Visual Sans', sans-serif;
  font-weight: 600;
}

.italic-text {
  font-family: 'WF Visual Sans Text', sans-serif;
  font-style: italic;
}

/* Hero description full width */
.section.hero-started .description {
  max-width: 100%;
  padding-top: 20px;
}

/* Reduce space above What I Do section */
.lui-section-hero {
  padding-bottom: 0;
}

#services-section {
  margin-top: -130px;
}